.chapter 
{
  border-top: medium solid;
  padding-bottom: 0.5cm;
}

.subchapter 
{
  border-top: thin solid;
  padding-bottom: 0.5cm;
}

.subsubchapter 
{
  padding-bottom: 0.5cm;
}

.image 
{
  text-align: center;
}

p 
{
  text-indent: 0.5cm;
  text-align: justify;
}

em 
{
  font-style: italic;
  font-weight: bold;
}

dfn 
{ 
  font-style: italic; 
  text-decoration: underline; 
}

span.option 
{
  font-weight: bold;
  border: thin solid;
  padding-right: 2pt;
  padding-left: 2pt;
}

span.value 
{
  font-weight: bold;
  color: #FF00FF;
}

span.warning 
{
  color: red;
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

span.action   { font-weight: bold; text-decoration: underline; }
span.file     { font-weight: bold;  }
span.registry { font-weight: bold; font-style: italic; }
